
<div class="container">

  <div class="row">

    <form action="/admin/generate-fake-posts" method="POST">

    <h1>Generate Posts</h1>

      <div class="form-group">

        <input name="amount" type="number" class="form-control">

      </div>

      <button type="submit" class="btn btn-dark">Generate</button>

    </form>

  </div>

  <div class="row">

    <canvas id="myChart" width="400" height="400"></canvas>

  </div>

</div>