
<div class="row">

  <div class="col-sm-4">
    
    <h3>Create Category</h3>

    <form action="/admin/categories/create" method="POST">

      <div class="form-group">

        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter title" class="form-control">

      </div>

      <button class="btn btn-primary">Create Category</button>

    </form>

  </div>

  <div class="col-sm-8">

    <h3>Category</h3>

    <table class="table">

      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
        </tr>        
      </thead>

      <tbody>
           
        {{#each categories}}
          <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td><a href="/admin/categories/edit/{{id}}" class="btn btn-info">Edit</a></td>
              <td>
                <form action="/admin/categories/{{id}}?_method=DELETE" method="POST">
                
                  <button class="btn btn-danger">Delete</button>

                </form>
              </td>
          </tr>
        {{/each}}

            
      </tbody>

    </table>

  </div>

</div>