<h1>Create Post</h1>

{{#each errors}}

  <div class="alert alert-danger">
  {{message}}
  </div>

{{/each}}

<form action="/admin/posts/create" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="title" class="form-control" id="title" placeholder="Enter title" required>
  </div>

  <div class="form-group">
    <label for="file">Upload Image</label>
    <input name="file" type="file" class="form-control">
  </div>

  <div class="form-group">
    <label for="title">Category</label>
    <select name="category" class="form-control" id="status">  

        {{#each categories}}

        <option value="{{id}}">{{name}}</option>

        {{/each}}

    </select>
  </div>

  <div class="form-group">
    <label for="title">Status</label>
    <select name="status" class="form-control" id="status">    
      <option value="public">Public</option>
      <option value="private">Private</option>
      <option value="draft">Draft</option>
    </select>
  </div>

  <div class="form-check">
    <label for="allowComments" class="form-check-label">
      <input name="allowComments" type="checkbox" class="form-check-input" id="allowComments">Allow Comments
    </label>
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <textarea name="body" cols="30" rows="10" class="form-control" id="body" placeholder="Enter Description" required></textarea>
  </div>  

  <button type="submit" class="btn btn-primary">Create Post</button>

</form>