<h1>Edit Post</h1>

<form action="/admin/posts/edit{{post.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="title" class="form-control" id="title" value="{{post.title}}">
  </div>

    <div class="form-group">
      <label for="file">Upload Image</label>
      <input name="file" type="file" class="form-control">
    </div>


  <div class="form-group">
    <label for="title">Category</label>
    <select name="category" class="form-control" id="status">  

      {{#select post.category}} 
        
        {{#each categories}}


          <option value="{{id}}">{{name}}</option>

        {{/each}}

      {{/select}}

    </select>
  </div>


  <div class="form-group">
    <label for="title">Status</label>
    <select name="status" class="form-control" id="status">  

      {{#select post.status}}  

        <option value="public">Public</option>
        <option value="private">Private</option>
        <option value="draft">Draft</option>

      {{/select}}

    </select>
  </div>

  <div class="form-check">
    <label for="allowComments" class="form-check-label">
      <input name="allowComments" type="checkbox" {{#if post.allowComments}} checked="checked" {{/if}}id="allowComments" class="form-check-input">Allow Comments
    </label>
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <textarea name="body" cols="30" rows="10" class="form-control" id="body">{{post.body}}</textarea>
  </div>  

  <button type="submit" class="btn btn-primary">Update Post</button>

</form>