<h1>All Posts</h1>

<table class="table table-border">

  <thead>
    <tr>
      <th>id</th>
      <th>file</th>
      <th>title</th>
      <th>status</th>
      <th>category</th>
      <th>allow comments</th>
      <th>date</th>
    </tr>
  </thead>

  <tbody>

    {{#each posts}}

    <tr>
      <td>{{id}}</td>
      <td><img height="50" class="img-responsive" src="/uploads/{{file}}" alt=""></td>
      <td>{{title}}</td>
      <td>{{status}}</td>
      <td>{{category.name}}</td>
      <td>{{allowComments}}</td>
      <td><a href="/post/{{id}}">View</a></td>
      <td>{{generateDate date 'MMMM Do YYYY'}}</td>
      <td><a href="/admin/posts/edit{{id}}" class="btn btn-info">Edit</a></td>
      <td>
        <form action="/admin/posts/{{id}}?_method=DELETE" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>

    {{/each}}
    
  </tbody>

</table>