<h1>Comments</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">owner</th>
      <th scope="col">status</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>

    {{#each comments}}

    <tr>
      <td>{{id}}</td>
      <td>{{user.firstName}}</td>
      <td><input data-id="{{id}}" type="checkbox" {{#if approveComment}} checked {{/if}} name="approveComment"></td>
      <td>{{generateDate date 'MMM Do YYYY'}}</td>
      <td>

        <form action="/admin/comments/{{id}}?_method=DELETE" method="POST">

          <button type="submit" class="btn btn-danger">Delete</button>

        </form>

      </td>
    </tr>

    {{/each}}

  </tbody>
</table>